<nav class="vertical-menu">
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow menu-border">
       
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" navigation-header"><span>Espace UTILISATEUR</span><i class=" ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Menu Principal"></i>
                </li>
                <li class=" nav-item"><a href="{{ path('user_dashboard') }}"><i class="ft-check-square"></i><span class="menu-title" data-i18n="">Mes formations</span></a>
                    
                </li>
           
                <li class=" nav-item"><a href="{{ path('user_notifications') }}"><i class="ft-bell"></i><span class="menu-title" data-i18n="">NOTIFICATIONS</span></a>
                </li>
                
                <li class=" nav-item"><a href="{{ path('user_historique') }}"><i class="ft-history"></i><span class="menu-title" data-i18n="">HISTORIQUE</span></a>
                </li>
                <li class=" nav-item"><a href="{{ path('app_calendar_index') }}"><i class="ft-calendar"></i><span class="menu-title" data-i18n="">CALENDRIER</span></a>
                </li>
            </ul>
        </div>
       
    </div>
 </nav>